extends layout
include components/card

block content
    div.row.flex-fill.d-flex.justify-content-start(style=height="inherit;")
        div.col-md-12.text-center.bg-white.text-dark.top-level
            .row.top-level
                h1 #{GCF ? 'GCF ' + GCF : 'Loading...'}
                .row
                    .col-md-6
                        +card("Summary Statistics", "", "summaryStatsCollapse")
                            div(style="display: flex; justify-content: center;")
                                table.table(style="font-size: 1.2em; font-weight: bold;")
                                    tr
                                        td(style="text-align: left;") Total BGCs
                                        td(style="text-align: left;") :
                                        td(style="text-align: left;")
                                            span.badge.badge-secondary#bgc-count Loading...
                                    tr
                                        td(style="text-align: left;") Core BGCs
                                            span.info-icon(data-bs-toggle="tooltip" title="Core BGCs are those that are annotated as complete by antiSMASH and used to construct the initial clustering of BGCs into GCFs.")
                                                img(src="/images/info.svg" width="16" height="16" alt="Info" loading="lazy")
                                        td(style="text-align: left;") :
                                        td(style="text-align: left;")
                                            span.badge.badge-primary#core-count Loading...
                                    tr
                                        td(style="text-align: left;") Non-Putative BGCs
                                            span.info-icon(data-bs-toggle="tooltip" title="Non-putative BGCs are those that have a membership value less than 0.4 to their assigned GCF.")
                                                img(src="/images/info.svg" width="16" height="16" alt="Info" loading="lazy")
                                        td(style="text-align: left;") :
                                        td(style="text-align: left;")
                                            span.badge.badge-primary#non-putative-count Loading...
                                    tr
                                        td(style="text-align: left;") Mean #BGC per sample
                                        td(style="text-align: left;") :
                                        td(style="text-align: left;")
                                            span.badge.badge-primary#meanbgcsamples Loading...
                                    if GCF
                                        tr
                                            td(style="text-align: center;" colspan="3")
                                                a.btn.btn-info(href="/gcf-gene-view?gcf=" + GCF title="View gene organization") View Genes
                    .col-md-6
                        +card("Biome Distribution", "", "biomeDistCollapse")
                            div#sunburst-chart(style="width: 100%; overflow-x: auto; max-width: 100%;") Loading...
                .row
                    +card("Regions Summary", "", "regionsSummaryCollapse")
                        .row
                            .col-md-6
                                .chart-container
                                    canvas#category-chart Loading...
                            .col-md-6
                                .chart-container
                                    canvas#product-chart Loading...
                .row
                    +card("Taxonomic Distribution", "", "taxonomicDistCollapse")
                        .col-md-12
                            .chart-container
                                canvas#taxonomic-chart Loading...
                .row
                    +card("Geographical Distribution", "", "geoDistCollapse")
                        .col-md-12
                            div#map(style="height: 500px;")
                .row
                    +card("BGC Table", "", "bgcTableCollapse")
                        .col-md-12
                            div.mb-3
                                div.form-check.form-check-inline
                                    input.form-check-input.checkbox-custom(type="checkbox" id="showCoreMembers" name="showCoreMembers" aria-label="Show only core members")
                                    label.form-check-label(for="showCoreMembers") Show only core members
                                    span.info-icon(data-bs-toggle="tooltip" title="Core BGCs are those that are annotated as complete by antiSMASH and used to construct the initial clustering of BGCs into GCFs.")
                                        img(src="/images/info.svg" width="12" height="12" alt="Info" loading="lazy")
                                div.form-check.form-check-inline.ms-3
                                    input.form-check-input.checkbox-custom(type="checkbox" id="showNonPutativeMembers" name="showNonPutativeMembers" aria-label="Show only non-putative members")
                                    label.form-check-label(for="showNonPutativeMembers") Show only non-putative members
                                    span.info-icon(data-bs-toggle="tooltip" title="Non-putative BGCs are those that have a membership value less than 0.4 to their assigned GCF.")
                                        img(src="/images/info.svg" width="12" height="12" alt="Info" loading="lazy")

                            table#bgcTable(style="width:100%;", class="stripe")


block append head
    // Stylesheets for DataTables and its extensions
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/searchbuilder/1.4.2/css/searchBuilder.bootstrap5.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css")

    // Stylesheets for Leaflet
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css')

    // Scripts for DataTables and its extensions
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/dataTables.searchBuilder.min.js")
    script(src="https://cdn.datatables.net/plug-ins/1.13.7/api/fnSetFilteringDelay.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/searchBuilder.bootstrap5.min.js")
    script(src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
    script(src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.csv.min.js")
    script(src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js")

    // Scripts for Chart.js, Leaflet, and Vega
    script(src='https://cdn.jsdelivr.net/npm/chart.js', sourcemaps="false")
    script(src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js')
    script(src="https://cdn.jsdelivr.net/npm/vega@5.27.0")

    // Bootstrap is already loaded in layout.pug, no need to load it again
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.32.0/build/vega-tooltip.min.js")

    // Scripts for custom JavaScript
    script(src="/javascripts/sunburst.js")
    script(src="/javascripts/gcf_map.js")

    style.
        .top-level {
            padding: 50px;
        }
        .h1, h2, h3, h4, h5, h6 {
            padding-top: 20px
        }

        .putative-bgc {
            background-color: #ffcccb !important;
        }

        /* Fix for table overflow */
        #bgcTable_wrapper {
            width: 100%;
            overflow-x: auto;
        }

        table.dataTable {
            width: 100% !important;
            max-width: 100% !important;
        }

        .checkbox-custom {
            width: 20px; /* Adjust size if needed */
            height: 20px; /* Adjust size if needed */
            border: 2px solid #007bff; /* Add border color */
            border-radius: 3px; /* Optional: make the corners slightly rounded */
            appearance: none; /* Remove default checkbox styling */
            outline: none; /* Remove any outline on focus */
            cursor: pointer; /* Change cursor to pointer for better UX */
        }

        .checkbox-custom:checked {
            background-color: #007bff; /* Background color when checked */
            border-color: #007bff; /* Match border color when checked */
            box-shadow: 0 0 2px #007bff; /* Add slight shadow effect on check */
            position: relative;
        }

        .checkbox-custom:checked::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 6px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        .info-icon {
            cursor: pointer;
            font-size: 12px;
            color: #007bff;
            margin-left: 5px;
        }

        .info-icon:hover {
            color: #0056b3;
        }


block scripts
    script(src="/javascripts/bgcs.js")
