extends layout

block content
    div.row.flex-fill.d-flex.justify-content-start(style=height="inherit;")
        div.col-md-12.text-center.bg-white.text-dark.top-level
            .row.top-level
                .row
                    table#gcfTable(style="width:100%;", class="stripe")
                //.row
                //    div#legend-container
            .row.top-level
                .row
                    p#gcf-count Loading...
                    p#mean-gcf
                .row
                    .col-md-6
                        canvas#gcf-count-hist-chart
                    .col-md-6
                        canvas#gcf-category-chart



block append head
    script(src='https://cdn.jsdelivr.net/npm/chart.js', sourcemaps="false")

    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js")

    link(rel="stylesheet", href="https://cdn.datatables.net/searchbuilder/1.4.2/css/searchBuilder.bootstrap5.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css")
    script(src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/dataTables.searchBuilder.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/searchBuilder.bootstrap5.min.js")
    script(src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='https://d3js.org/d3.v6.min.js')

    style.
        .top-level {
            padding: 50px;
        }

        /* Center the text in the table headers */
        #gcfTable th {
            text-align: center;
        }

        /* Set height for the chart canvases to make them larger */
        #gcf-count-hist-chart, #gcf-category-chart {
            height: 400px;
        }

        #legend-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
        }

        #legend-container div {
            margin-right: 15px;
            margin-bottom: 10px;
        }

        .info-icon {
            cursor: pointer;
            font-size: 12px;
            color: #007bff;
            margin-left: 5px;
        }

        .info-icon:hover {
            color: #0056b3;
        }


block scripts
    script(src="/javascripts/gcfs.js")
