extends layout
include components/card

block content
  .container.mt-4
    .row
      .col-12
        +card('Job Status')
          .alert.alert-primary.mb-3
            p Your job ID: <strong id="jobIdDisplay"></strong>
            p Save this ID to check your results later.

          #statusContainer.mb-4
            p#status.lead <strong>Status:</strong> Loading...

            #queueInfo.alert.alert-info.mb-3.d-none
              h5 Queue Information
              p Your job is in queue position <strong id="queuePosition">0</strong> of <strong id="totalJobs">0</strong>.
              p#estimatedTime Estimated wait time: calculating...

            #loadingIndicator.text-center.d-none
              .spinner-border.text-primary(role="status")
                span.visually-hidden Loading...
              p.mt-2 Processing your job...

        +card('Results')
          .alert.alert-info.mb-3
            p Note: Only the best hit for each BGC uploaded is shown. Hits with a membership value > 0.4 are highlighted as putative.
            .form-check.form-switch
              input.form-check-input#hidePutativeToggle(type="checkbox")
              label.form-check-label(for="hidePutativeToggle") Hide putative hits (membership value > 0.4)

          table.table.table-bordered.mt-3
            thead
              tr
                th BGC Name
                th GCF ID
                th Membership Value
            tbody#results
              tr
                td.colspan-3.text-center No results to display

        +card('Geographical Distribution of Hits')
          .alert.alert-info.mb-3
            p This map shows the geographical distribution of all hits identified for your query BGCs.
            p If putative hits are hidden, they will not be included in the map.

          #mapContainer.mt-3(style="height: 500px;")
            #map(style="height: 100%; width: 100%;")

        +card('Biome Distribution of Hits')
          .alert.alert-info.mb-3
            p This chart shows the distribution of biome types for all hits identified for your query BGCs.
            p If putative hits are hidden, they will not be included in the chart.

          .form-group.mb-3
            label.form-label(for="biomeLevelSelect") Biome Hierarchy Level:
            select.form-select#biomeLevelSelect
              option(value="1" selected) Level 1 (Top Level)
              option(value="2") Level 2
              option(value="3") Level 3
              option(value="4") Level 4 (Most Specific)

          #biomeChartContainer.mt-3(style="height: 400px;")
            canvas#biomeChart(style="width: 100%; height: 100%;")

append head
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css")
  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js")

  link(rel="stylesheet", href="https://cdn.datatables.net/searchbuilder/1.4.2/css/searchBuilder.bootstrap5.min.css")
  link(rel="stylesheet", href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css")
  script(src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js")
  script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/dataTables.searchBuilder.min.js")
  script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/searchBuilder.bootstrap5.min.js")
  script(src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js")
  link(rel="stylesheet", href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css")
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

  // Leaflet CSS and JS
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js")

  // Leaflet MarkerCluster CSS and JS
  link(rel="stylesheet", href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css")
  link(rel="stylesheet", href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css")
  script(src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js")

  // Chart.js for biome distribution chart
  script(src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js")

  style.
    .putative-bgc {
      background-color: #ffcccb !important;
      color: #333 !important;
    }

    .hidden {
      display: none;
    }

    /* Table styling for equal column widths */
    .table {
      table-layout: fixed;
      width: 100%;
    }

    .table th, .table td {
      width: 33.33%;
      text-align: left;
    }

  script.
    // Pass jobId from server to client
    const serverJobId = '#{jobId}';
  script(src="/javascripts/job_status_map.js")
  script(src="/javascripts/job_status_biome.js")
  script(src="/javascripts/job_status_polling.js")
