extends layout
include components/card

block content
    div.row.align-items-stretch
        div.col-sm-3.d-flex.align-items-stretch
            div.d-flex.align-items-center.justify-content-center.w-100
                img(
                    src='images/BGC-Atlas-logo.png'
                    class='img-fluid'
                    style='max-height: 250px; max-width: 250px; object-fit: contain;'
                )
        div.col-sm-6.d-flex.flex-column.gap-2
            +card('Welcome to BGC Atlas', '', 'welcomeCard')
                p
                    | BGC Atlas is a web resource for exploring the diversity of biosynthetic gene clusters (BGCs) across a wide range of environments. It integrates thousands of publicly available metagenomic datasets to help researchers investigate the ecological and functional distribution of BGCs.
                p
                    | Use the #[a(href='/samples') Samples], #[a(href='/bgcs') BGCs], or #[a(href='/gcfs') GCFs] pages to start Browse, or try the #[a(href='/search') Search] tool to query your own BGCs against our collection.

            +card('Recent Updates', 'bg-info-subtle', 'updatesCard')
                ul
                    li June 2025 – Improved search functionality.
                    li June 2025 – Added taxonomy information for GCFs and BGCs.
        div.col-sm-3.d-flex.align-items-center.justify-content-center
            +card('Dataset Overview')
                table.text-center.mx-auto(style="text-align: center;")
                    colgroup
                        col(style="width:100%;")
                        col(style="width:100%;")
                    tr
                        td <b>Samples</b>
                        td#samples-count ...
                    tr
                        td <b>Analyzed</b>
                        td#analyzed-count ...
                    tr
                        td <b>Running</b>
                        td#running-count ...
                    tr
                        td <b>BGCs</b>
                        td#bgcs-count ...
                    tr
                        td <b>Complete BGCs</b>
                        td#compl-bgcs ...
                    tr
                        td <b>GCFs</b>
                        td#gcfs-count 18566
    div.row.flex-fill.d-flex.justify-content-start
        div.col-sm-12.text-center
            #map.flex-grow-1(style="height:100%;")


block append head
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js')
    script(src='/javascripts/map.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js')

block styles
    style.
        .leaflet-container {
            background-color: rgba(255, 0, 0, 0.0);
        }

        .leaflet-control-container {
            background-color: rgba(255, 0, 0, 0.0);
        }


block scripts
