extends layout

block content
    div.row.flex-fill.d-flex.justify-content-start(style=height="inherit;")
        div.col-sm-12.text-center.bg-white.text-dark
            table#samplesTable(style="width:100%;", class="stripe")

append head
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js")

    link(rel="stylesheet", href="https://cdn.datatables.net/searchbuilder/1.4.2/css/searchBuilder.bootstrap5.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css")
    script(src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/dataTables.searchBuilder.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/searchBuilder.bootstrap5.min.js")
    script(src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

    style.

        div.col-sm-12 {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        div.dataTables_wrapper select,
        div.dataTables_wrapper th select {
            width: 100px;
        }

        .dt-button {
            background-color: darkslategray !important;
            color: white !important;
        }

        .status-cell {
            width: 1%;
            white-space: nowrap;
        }

        .status-image {
            max-width: 75%;
            max-height: 75%;
        }



    script(src="/javascripts/samples.js")
