extends layout
include components/card

block content
    .container.mt-4
        .row
            .col-12
                +card('Queue Status')
                    p#status(role='status' aria-live='polite') <strong>Status:</strong> Idle

                    .alert.alert-primary.mt-3#queueStatusContainer
                        h5 Queue Status
                        p <strong id="runningJobsCount">0</strong> jobs running, <strong id="queuedJobsCount">0</strong> jobs in queue
                        p Total jobs processed: <strong id="totalJobsProcessed">0</strong>

                +card('Upload GenBank Files')
                    form(id='uploadForm' action='/upload' method='post' enctype='multipart/form-data')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        .input-group.mb-3
                            span.info-icon.me-2(data-bs-toggle="tooltip" title="The search function accepts antiSMASH compatible GenBank files. Please upload one or more GenBank files to search for similar BGCs in the database.")
                                img(src="/images/info.svg" width="16" height="16" alt="Info", loading = "lazy")
                            input.form-control(type='file' id='formFile' name='file' multiple aria-label='GenBank file upload')
                            button#uploadButton.btn.btn-primary(type='submit') Upload
                +card('Selected Files')
                    table.table.table-bordered.mt-3
                        thead
                            tr
                                th Selected Files
                        tbody#fileList
                            tr
                                td.colspan-4.text-center No files selected
                +card()
                    .text-center
                        button#submitButton.btn.btn-primary.btn-lg(type='button') Submit

                    .alert.alert-info.mt-3.d-none#jobIdContainer
                        p Your job ID: <strong id="jobIdDisplay"></strong>
                        p Save this ID to check your results later.

                +card('Look Up Previous Results')
                    form#jobLookupForm
                        .input-group
                            input.form-control#jobIdInput(type='text' placeholder='Enter Job ID' aria-label='Job ID')
                            button.btn.btn-outline-secondary(type='submit') Look Up

                    .mt-3
                        h5 Your Previous Jobs
                        ul#previousJobsList.list-group.mt-2
                            li.list-group-item.text-center No previous jobs found


append head
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js")

    link(rel="stylesheet", href="https://cdn.datatables.net/searchbuilder/1.4.2/css/searchBuilder.bootstrap5.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css")
    script(src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/dataTables.searchBuilder.min.js")
    script(src="https://cdn.datatables.net/searchbuilder/1.4.2/js/searchBuilder.bootstrap5.min.js")
    script(src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

    style.
        #upload-status-message {
            font-size: 1em;
            color: #0056b3;
        }

        .putative-bgc {
            background-color: #ffcccb !important;
            color: white !important;
        }

    script(src="/javascripts/search.js")
